<!DOCTYPE html>

<div ng-if="!choreInitSpinnerStopped"
    mle-animateshow="!choreInitSpinnerStopped"
    after-show="afterNavigationInitSpinnerShow()"
    after-hide="afterNavigationInitSpinnerHide()">
    <div ng-include="'views/commons/computeChore.html'"></div>
</div>

<div ng-include="'views/commons/header.html'"></div>

<div ng-if="choreInitSpinnerStopped">

  <article class="container">

    <div class="row">
    <div class="col-xs-12   col-sm-offset-1 col-sm-10">

      <div class="row">
        <div class="alert alert-warning alert-dismissible" role="alert" ng-show="choreErrMessage">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Warning!</strong> {{choreErrMessage}}
        </div>
      </div>


      <div class="page-header" style="margin-top:0">
        <h4><i class="glyphicon glyphicon-cog"></i> Appreciate chores <small>({{chores.length}})</small></h4>
      </div>

      <!--

      <div class="col-xs-12" ng-hide="appFirstInitDone">
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3>Config all chores ... and do a big jump</h3>
        </div>
      </div>

      <div class="col-xs-12"  ng-hide="appFirstInitDone" >
        <div class="jumbotron">
          <h3>Config all chores ... and do a big jump</h4>

          <div class="row">
            <a ng-show="appFirstInitDoneLevel == 0" class="btn btn-success btn-lg col-xs-8 col-xs-offset-2" href="#/user/{{userA._id}}">Second step</a>
            <a ng-show="appFirstInitDoneLevel == 1" class="btn btn-success btn-lg col-xs-8 col-xs-offset-2" href="#/user/{{userB._id}}">Tird step</a>
            <a ng-show="appFirstInitDoneLevel == 2" class="btn btn-danger btn-lg col-xs-8 col-xs-offset-2" ng-click="computeCleanator()">We're ready for Big Jump</a>
          </div>
        </div>
      </div>
    -->

      <div class="row">
      <div class="col-xs-12">
        <div class="panel-group" id="accordion{{choreGroup}}" role="tablist" aria-multiselectable="true"
            ng-repeat="(choreGroup, choreList) in chores | groupBy : 'choreCategory'">

          <h3>
            {{getChoreCategoryName(choreGroup)}} <small>({{choreList.length}})</small>
            <a  class="btn btn-default" style="float:right"
                data-toggle="modal" data-target="#choreModalChore"
                ng-click="choreAddChore(choreGroup)">+</a>
          </h3>

          <div class="panel panel-default" ng-repeat="chore in choreList">
            <div class="panel-heading btn"
              ng-class="{'panel-heading-off' : chore[choreCols.timeInMn] <= 0}"
              style="border: 0;width: 100%;text-align: left;"
              role="tab"
              id="heading{{choreGroup}}{{$index}}"
              data-toggle="collapse" data-parent="#accordion{{choreGroup}}" data-target="#{{choreGroup}}{{$index}}" aria-expanded="false">
              <h4 class="panel-title">
                <div style="position:relative">
                  <img src="{{getChoreCategoryThumbPath(choreGroup)}}"class="img-circle" height="30px" style="position:absolute" />
                  <!--<img src="{{getChoreThumbPath(chore[choreCols.choreDescriptionCat])}}"class="img-circle" height="30px" style="position:absolute"/>-->
                </div>
                <a class="collapsed" style="padding-left:40px">
                  <span class="visible-xs-inline">{{chore[choreCols.name] | cut:true:15:' ...'}}</span>
                  <span class="hidden-xs">{{chore[choreCols.name] | cut:true:30:' ...'}}</span>
                </a>
              </h4>
            </div>
            <div id="{{choreGroup}}{{$index}}" class="panel-collapse collapse">
              <div class="panel-body">

                <form class="form-horizontal">
                      <div class="form-group">
                        <div class="col-xs-8">
                            <p class="lead">{{chore[choreCols.description]}}</p>
                        </div>
                        <div class="col-xs-4">
                          <a class="btn btn-default col-xs-12"
                              data-toggle="modal" data-target="#choreModalChore"
                              ng-click="choreEdit(chore)">Edit</a>
                        </div>
                      </div>


                      <div class="form-group">
                        <label class="col-xs-4 control-label">Estimate (mn)</label>
                        <div class="col-xs-4">
                            <input class="form-control" type="number" pattern="\d*" min="0" max="1000" ng-model="chore[choreCols.timeInMn]" readonly/>
                        </div>
                        <div class="col-xs-4">
                          <a  class="btn btn-link col-xs-12"
                              ng-click="chore[choreCols.timeInMn] = 0;saveChore(chore)"
                              data-toggle="collapse" data-parent="#accordion{{choreGroup}}" data-target="#{{choreGroup}}{{$index}}" aria-expanded="false">
                              Not for us
                          </a>
                        </div>
                      </div>


                      <div class="form-group">
                        <label class="col-xs-4 control-label">Frequency (Days)</label>
                        <div class="col-xs-4">
                          <input class="form-control" type="number" pattern="\d*" min="0" ng-model="chore[choreCols.frequencyDays]" readonly/>
                        </div>
                        <div class="col-xs-4">
                          <a class="btn btn-link col-xs-12" disabled>
                            <i ng-show="chore[choreCols.priority] == 1" class="glyphicon glyphicon-star"></i>
                            <i ng-hide="chore[choreCols.priority] == 1" class="glyphicon glyphicon-star-empty"></i>
                          </a>
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-xs-4 control-label">Affinity for this chore</label>
                        <div class="col-xs-8">
                          <div class="row">
                            <small class="col-xs-6 text-left">
                              <small>{{userA[userCols.firstName] | cut:true:10:' ...'}} {{(100 - Math.round(chore[choreCols.percentAB]))}}%</small>
                            </small>
                            <small class="col-xs-6 text-right">
                              <small>{{(Math.round(chore[choreCols.percentAB]))}}% {{userB[userCols.firstName] | cut:true:10:' ...'}}</small>
                            </small>
                            <div class="col-xs-12">
                              <input class="form-control" type="range" min="0" max="100"
                                ng-model="chore[choreCols.percentAB]" ng-change='saveChore(chore)'/>
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="form-group">
                        <label class="col-xs-4 control-label">Last time it was done</label>
                        <div class="col-xs-8">{{getDateText(chore[choreCols.lastTimeDone])}}</div>
                      </div>

                </form>

              </div>
            </div>
          </div>
        </div>
        <!-- end panel -->

        <!--<div class="col-xs-12">
          <a class="btn btn-lg btn-primary col-xs-12"
              data-toggle="modal" data-target="#choreModalCategory"
              ng-click="choreAddCategory()">Add a category</a>
        </div>-->

      </div>
      </div>

    </div>
    </div>
  </article>


  <div ng-include="'views/commons/footer.html'"></div>
  <div ng-include="'views/chore/choreModalCategory.html'"></div>
  <div ng-include="'views/chore/choreModalChore.html'"></div>

</div>
