<!DOCTYPE html>

    <!--
    {{dashboardHistorics.length}}
    <div ng-repeat="histo in dashboardHistorics">
      uid : {{histo._preventNUID}}<br>
    </div>
    -->
    <div class="panel-group col-xs-12" id="accordion{{dashboardGetTextIdentifier(historicGroup)}}"
      role="tablist" aria-multiselectable="true"
      ng-repeat="(historicGroup, historicList) in historicsFiltered = (dashboardHistorics | filter : dashboardSearch | groupBy : 'actionTodoDate')">
      <h4><span ng-bind-html="dashboardDisplayHistoricCalendar(historicGroup)"></span></h4>
      <div class="panel panel-default clearfix" ng-repeat="historic in historics = (historicList)">

        <div class="panel-heading col-xs-10"
          style="text-align: left;"
          role="tab"
          id="heading{{historic.iPreventNUID}}">
          <h4 class="panel-title">
            <div style="position:relative">
              <img src="{{getChoreCategoryThumbPath(historic[historicCols.category])}}"class="img-circle" height="30px" style="position:absolute" />
              <!--<img src="{{getChoreThumbPath(historic[historicCols.choreDescriptionCat])}}"class="img-circle" height="30px" style="position:absolute"/>-->
            </div>
            <a class="collapsed" style="padding-left:40px"
              data-toggle="collapse" data-parent="#accordion{{dashboardGetTextIdentifier(historicGroup)}}" data-target="#{{historic.iPreventNUID}}" aria-expanded="false">
              <small class="visible-xs-inline" style="color:wheat">{{historic[historicCols.name] | cut:true:30:' ...'}}</small>
              <span class="hidden-xs" style="color:wheat">{{historic[historicCols.name] | cut:true:60:' ...'}}</span>
            </a>
          </h4>
        </div>
        <a data-toggle="modal" data-target="#modalDone"
        style="" class="btn btn-link col-xs-2"
        ng-click="dashboardLaunchModalDone(historic);">
          Done
        </a>

        <div id="{{historic.iPreventNUID}}"
            class="panel-collapse collapse clearfix col-xs-12" style="border: 1px solid lightgray;"
            role="tabpanel">
          <div class="panel-body">
            <h4>{{getChoreCategoryName(historic[historicCols.category])}}</h4>
            <p>{{historic[historicCols.description]}}</p>
            <h5>Minutes to do it : {{historic[historicCols.timeInMn]}}</h5>
            <small>taste for it :
              <small ng-show="dashboardSearch.userId == userA._id">{{(100 - Math.round(historic[historicCols.percentAB]))}}%</small>
              <small ng-show="dashboardSearch.userId == userB._id">{{(Math.round(historic[historicCols.percentAB]))}}%</small>
            </small>


            <div class="row">
              <div class="col-xs-12">
                <small>each {{historic[historicCols.frequencyDays]}} day(s) </small>
                <small>last done : {{dashboardShowLastHistoricDate(historic)}}</small>
              </div>
            </div>


            <div class="row" style="margin-top:20px">
              <a class="btn btn-default col-xs-5" ng-click="dashboardNotForMe(historic)">Not for me</a>
              <a class="btn btn-default col-xs-5 col-xs-offset-2" ng-click="dashboardNotForUs(historic)">Not for us</a>
            </div>
          </div>
        </div>

      </div>
    </div>
