
<header>
  <nav class="navbar navbar-default navbar-fixed-top row" role="navigation" style="min-height: 0;">
    <div class="col-xs-12">
      <ul class="nav row">
        <li class="col-xs-2" style="padding:0">
          <a ng-click="back()">&lt;</a></li>
        </li>
        <li class="col-xs-10" style="padding:0">
          <a class="disabled" disabled>Configuration</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<article class="container">

  <div class="col-xs-12 col-sm-offset-4 col-sm-4">

    <ul class="nav">
      <li class="list-item">
        <a class="btn btn-default col-xs-12" href="#/user/{{userA._id}}"
        style="background-color:{{configProfilFillColor(userA)}}">{{userA[userCols.firstName] | cut:true:10:' ...'}} &gt;</a>
      </li>
      <li class="list-item">
        <a class="btn btn-default col-xs-12" href="#/user/{{userB._id}}"
        style="background-color:{{configProfilFillColor(userB)}}">{{userB[userCols.firstName] | cut:true:10:' ...'}} &gt;</a>
      </li><!--
      <li class="list-item">
        <a class="btn btn-default col-xs-12" href="#/couple/{{couple._id}}">{{couple[coupleCols.name] | cut:true:10:' ...'}} &gt;</a>
      </li>-->

      <li class="list-item">
        <a class="btn btn-success col-xs-12" href="#/chore">Chores</a>
      </li>
      
      <li class="list-item">
        <a class="btn btn-warning col-xs-12" ng-click="logout()">Logout</a>
      </li>
    </ul>

<!--
    <h1>{{srvData.dataUserLoggedIn.email}}
    <h2>{{ 'HEADLINE' | translate }}</h2>
    <p>{{ 'INTRO_TEXT' | translate }}</p>


    <button ng-click="changeLanguage('de')" translate="BUTTON_TEXT_DE"></button>
    <button ng-click="changeLanguage('en')" translate="BUTTON_TEXT_EN"></button>


    Color (null not allowed):
    <select ng-model="myColor" ng-options="color.name for color in configLanguages"></select><br>

    Color (null allowed):
    <span  class="nullable">
      <select ng-model="myColor" ng-options="color.name for color in configLanguages">
        <option value="">-- choose color --</option>
      </select>
    </span><br/>

    <a class="btn btn-danger col-xs-12" ng-click="initWithDemo()">Init with demo</a>

    <a class="btn btn-warning col-xs-12" ng-click="logout()">Logout</a>


    <a class="btn btn-danger col-xs-12" ng-click="synchronizeDB()">Sync</a>


    <button class="btn-primary col-xs-12" ng-click="displayUserInformation()">Refresh Data</button>
    <ul>
      <li>Users :</li>
      <li ng-repeat="user in users">user = {{user._id}} {{user[userCols.type]}} {{user[userCols.firstName]}}
        <a class="btn btn-info" ng-click="bindCouplesOfUser(user)">Refine</a>
      </li>
    </ul>

  -->

  </div>

</article>
