<!DOCTYPE html>
<div class="container">

  <!--<div class="jumbotron"
      style="background:linear-gradient(#eee, transparent);padding-top: 100px;">
    <div style="position:relative">
      <img class="spinner-image-container" src="images/spinner1.gif" />
      <img class="spinner-image-rotate" src="images/configuration.png" />
    </div>
  </div>-->
  <div class="row" style="padding-top: 30%">
    <img class="spinner-image-container" src="images/spinner2.gif" />
  </div>

        <!--<svg width="0" height="0">
            <pattern id="pattern" patternUnits="userSpaceOnUse" x="0" y="0" width="10" height="10" viewBox="0 0 10 10">
                <path d="M-5,0,10,15M0-5,15,10" stroke="white" stroke-width="5"/>
            </pattern>
        </svg>-->
<!--
        <svg width="100" height="100">
          <circle cx="50" cy="50" r="40" stroke="green" stroke-width="4" fill="yellow" />
        </svg>


        <object mle-svg-animate data="images/mascot.svg" type="image/svg+xml">
          <img src="yourfallback.jpg" />
        </object>

        <mle-svg-status watch="currentStatus"></my-status>
        <input type="button" value="alert" ng-click="currentStatus='alert'"/>
-->
        <script>
          /*  var s = Snap();
            var bigCircle = s.circle(100, 100, 50);
            bigCircle.attr({
                fill: "#bada55",
                stroke: "#000",
                strokeWidth: 5
            });
            var smallCircle = s.circle(70, 100, 40);
            var discs = s.group(smallCircle, s.circle(130, 100, 40));
            discs.attr({
                fill: Snap("#pattern")
            });
            bigCircle.attr({
                mask: discs
            });
            Snap.load("images/mascot.svg", function (f) {
                var g = f.select("g");
                f.selectAll("polygon[fill='#09B39C']").attr({
                    fill: "#fc0"
                })
                s.append(g);
                g.drag();
            });*/
        </script>

</div>
