<!DOCTYPE html>
<header>
  <nav class="navbar navbar-fixed-top navbar-inverse row" role="navigation" style="min-height: 0;">
    <div class="col-xs-12">
      <ul class="nav navbar-nav col-xs-12" style="margin: 0;text-align: center;">
        <!--<li class="col-xs-3" ng-class="{active: isActive('/config')}">
          <a class=""  href="#/config">
            <i class="glyphicon glyphicon-cog"></i>
          </a>
        </li>-->
        <li class="col-xs-4" ng-class="{active: isActive('/user')}">
          <a class="btn btn-lg" href="#/user">
            Who ?
          </a>
        </li>
        <li class="col-xs-4" ng-class="{active: isActive('/chore')}">
          <a class="btn btn-lg" href="#/chore">
            What ?
          </a>
        </li>
        <li class="col-xs-4" ng-class="{active: isActive('/usercal')}">
          <a class="btn btn-lg" href="#/usercal">
            When ?
          </a>
        </li>
        <!--
        <li class="col-xs-3" ng-class="{active: isActive('/')}">
          <a class="" href="#/">
            When ?
          </a>
        </li>
        <li class="col-xs-2" ng-class="{active: isActive('/')}" ng-show="appFirstInitDone">
          <a class="btn close" href="#/"><span> &nbsp;  &times;</span></a>
        </li>-->
      </ul>
    </div>
  </nav>
</header>
