
<!-- spinner -->
<div ng-if="!userInitSpinnerStopped"
mle-animateshow="!userInitSpinnerStopped"
after-show="afterNavigationInitSpinnerShow()"
after-hide="afterNavigationInitSpinnerHide()">
<div ng-include="'views/commons/computeChore.html'"></div>
</div>
<!-- spinner -->

<div ng-if="userInitSpinnerStopped">

  <div ng-include="'views/commons/header.html'"></div>

  <!--
<header>
  <nav class="navbar navbar-default navbar-fixed-top row" role="navigation" style="min-height: 0;border:0;">
    <div class="col-xs-12">
      <ul class="nav row">
        <li class="col-xs-2" style="padding:0">
          <a class="btn" ng-click="userSave();back()">&lt;</a>
        </li>
        <li class="col-xs-10" style="padding:0">
          <a class="btn disabled" style="text-align:left" disabled>User configuration</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
-->

  <article class="container" ng-if="userToConfig">

    <div class="col-xs-12 col-sm-offset-4 col-sm-4">
      <!--<h3>User detail</h3>
      <h4> Nom ? Surnom ? Dispos ? </h4>-->

      <form novalidate>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" ng-model="userToConfig[userCols.firstName]"/>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" ng-model="userToConfig[userCols.lastName]"/>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" ng-model="userToConfig[userCols.email]" readonly />
        </div>

        <div class="form-group">
          <label for="color">Profil color</label>
          <!--<input type="color" class="form-control" id="color" ng-model="userToConfig[userCols.profilColor]" />
          <select></select>-->
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              <img style="background:{{userToConfig[userCols.profilColor]}}" class="img-circle" width="20px" height="20px"/>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
            </ul>
          </div>

        </div>


        <div class="form-group">
          <h3>Availability per week</h3>
          <label for="timeInMnPerWeekTodo">{{userToConfig[userCols.timeInMnPerWeekTodo]}} minutes</label>
          <input type="range" class="form-control" id="timeInMnPerWeekTodo" ng-model="userToConfig[userCols.timeInMnPerWeekTodo]"
              min="10" max="2000" step="10"/>
              <pre ng-show="userToConfig[userCols.timeInMnPerWeekTodo] < 100">Chores are not your priority.</pre>
              <pre ng-show="100 <= userToConfig[userCols.timeInMnPerWeekTodo] && userToConfig[userCols.timeInMnPerWeekTodo] < 200">You are busy but intrested in Chores</pre>
              <pre ng-show="200 <= userToConfig[userCols.timeInMnPerWeekTodo] && userToConfig[userCols.timeInMnPerWeekTodo] < 1000">You manage Chores</pre>
              <pre ng-show="1000 <= userToConfig[userCols.timeInMnPerWeekTodo]">You are a professional !</pre>
        </div>
        <!--
        <div class="checkbox">
          <label>
            <input type="checkbox">Check me out</input>
          </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        -->
      </form>

    </div>

  </article>

  <div ng-include="'views/commons/footer.html'"></div>
</div>
